{% extends "layout.html" %}

{% comment %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKEMON WORLD</title>
</head>
<body>
    <h1>Welcome to POKEMON WORLD</h1>
</body>
</html> 
{% endcomment %}



{% block title %} 
Homepage
{% endblock  %}

{% block content %}
<h1 class= "text-left text-5xl text-yellow-500 font-serif">Welcome To my POKEMON WORLD</h1>

<div class="grid grid-cols-5 gap-4 m-4">

{% for pokemon in pokemons  %}
    {% comment %} <div class="bg-gray-200  p-4 rounded"> {% endcomment %}
    <div class= "bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 rounded-lg text-sm px-5 py-2.5 me-2 mb-2 p-4">
        <img class="rounded shadow-lg " src="{{pokemon.pimage.url}}" alt="{{pokemon.name}}">
        <h3 class="text-white text-2xl font-bold font-serif text-center">Name - {{pokemon.name}}</h3>
        <a href="#"> <button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 w-[100%]" >
                {{pokemon.poke_type}} - {{pokemon.id}}
            </button>

        </a>
    </div>
{% endfor %}
</div>
{% endblock  %}