{% extends "layout.html" %}

{% block title %}
    Search
{% endblock  %}

{% block content %}
    <h1>SEARCH PAGE</h1> 
    <form method="post">
        {% csrf_token %}
        <h1 class = "rounded-full text-green-400 font-serif">
            {{form.as_p}}
        </h1>
        <button type="submit" class="hover:brightness-110 hover:animate-pulse font-bold py-1 px-2 rounded-full bg-indigo-500 shadow-lg shadow-indigo-500/50 text-white">
            Search Region
        </button>
    </form>
    {% if region %}
        <h2 class= "font-serif">Selected Pokemon are Found in the Below mentioned Regions</h2>
        <ul>
            {% for reg in region %}
                <li class="font-serif text-indigo-500">{{reg.region_name}}</li>
            {% endfor %}
        </ul>
    
    {% endif %}
{% endblock  %}