{% extends "base_layout.html" %}

{% block title %}
    Add Venue
{% endblock  %}

{% block content %}
<center>
    <br>
    <h1 class="display-4 text-danger" style="font-family: Georgia, serif;" >ADD VENUE</h1>
    
    {% if submit %}
    Venue Added successfully
    {% else %}
        <form action="" method=POST>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" value="Submit" class="btn btn-light">SUBMIT</button>
        </form>
    {% endif %}
            
</center>

{% endblock  %}