{% extends "layout.html" %}

{% comment %} 
<!-- To load static assets -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Home</title>
    <!-- {% static 'style.css' %} used as template engine, other examples <?php> -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <h1>Welcome to my Home Page</h1>  
</body>
</html>
{% endcomment %}



{% block title %} 
Homepage
{% endblock  %}

{% block content %}
<img src="" alt="">
<h1 class= "text-left text-5xl text-yellow-500 font-serif">  To my MAIN HOME PAGE</h1>
{% endblock  %}